<header class="site-header">
    <%= render partial: 'layouts/nav'%>

	<div>
		<div class="row">
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-primary">
					<p>
						<i class="fa fa-tasks"></i>
					</p>
					<h3><%= User.count - 1 %></h3>
					<a href="#user-details-goto" style="text-decoration: none; color: white">
						<p>User Details</p>
					</a>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-warning">
					<p>
						<i class="fa fa-tasks"></i>
					</p>
					<h3><%= Mechanic.count %></h3>
					<a href="#mechanic-details-goto" style="text-decoration: none; color: white">
						<p>Mechanic Details</p>
					</a>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-danger">
					<p>
						<i class="fa fa-bug"></i>
					</p>
					<h3>0</h3>
					<p>Issues</p>
				</div>
			</div>
		</div>
		<div class="row" id="user-details-goto">
			<div class="col-8 col-m-12 col-sm-12">
				<div class="admin-card">
					<div class="admin-card-header">
						<h3>
							User Details Table
						</h3>
						<i class="fa fa-ellipsis-h"></i>
					</div>
					<div class="admin-card-content">
						<table>
							<thead>
								<tr>
									<th>Id</th>
									<th>Name</th>
									<th>Email id</th>
									<th>Delete user</th>
								</tr>
							</thead>
							<tbody>
							<% User.all.each do |user| %>
								<% next if user == current_user %>
								<tr>
									<td><%= user.id %></td>
									<td><%= user.name %></td>
									<td><%= user.email %></td>
									<td>
										<a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete">Delete</>
									</td>
								</tr>
							<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="mechanic-details-goto">
			<div class="col-8 col-m-12 col-sm-12">
				<div class="admin-card">
					<div class="admin-card-header">
						<h3>
							Mechanics Details Table
						</h3>
						<i class="fa fa-ellipsis-h"></i>
					</div>
					<div class="admin-card-content">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Mobile number</th>
									<th>Email id</th>
									<th>Specialization</th>
									<th>Gender</th>
									<th>Delete User</th>
								</tr>
							</thead>
							<tbody>
								<% Mechanic.all.each do | mechanic | %>
									<tr>
										<td><%= mechanic.name %></td>
										<td><%= mechanic.mobile_number %></td>
										<td><%= mechanic.email %></td>
										<td><%= mechanic.specialization %></td>
										<td><%= mechanic.gender %></td>
										<td>
											<a href="/mechanics/<%= mechanic.id %>" data-confirm="Are you sure?" data-method="delete">Delete</a>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>