<header class="site-header">
    <%= render partial: 'layouts/nav'%>
</header>
<section>
    <div class="left-side">
        <img id="optionalstuff" src="/assets/My_corporate_mechanic-removebg-preview.png" alt="logo">
    </div>
    <div class="right-side">
        <div class="container-one">
            <h1>Welcome</h1>
            <h2>Select User Type:</h2>
            <ul>
                <li>
                    <input type="radio" class="radio" value="mechanic" id="mechanic" name="usertype" checked>
                    <label for="mechanic">Mechanic</label>
                </li>
                <li>
                    <input type="radio" class="radio" value="user" id="user" name="usertype">
                    <label for="user">User</label>
                </li>
                <button id="signup-button">sign up</button>
                <button id="signin-button">sign in</button>
            </ul>
        </div>
    </div>
</section>
<script type="text/javascript">
        $("#signup-button").click(function(){
            var usertype = $("input[name=usertype]:checked").val();
            if(usertype == 'mechanic'){
                window.location.href = "<%= new_mechanic_registration_url %>";
            }else{
                window.location.href = "<%= new_user_registration_url %>";
            }
            
        });
        $("#signin-button").click(function(){
            var usertype = $("input[name=usertype]:checked").val();
            if(usertype == 'mechanic'){
                window.location.href = "<%= mechanic_session_url %>";
            }else{
                window.location.href = "<%= user_session_url %>";
            }
            
        });
</script>
