<header class="site-header">
    <%= render partial: 'layouts/nav'%>
</header>
<div class="main">
    <% @mechanics.each do  | mechanic| %>
        <div class="card">
            <div class="image">
                <img
                    src="/assets/user1.jpg">
            </div>
            <div class="title">
                <h1>
                    <%= mechanic.name %>
                </h1>
            </div>
            <div class="des">
                <p>Ph: <%= mechanic.mobile_number%></p>
                <p><%= mechanic.email %></p>
                <p><%= mechanic.location %></p>
            </div>
        </div>
    <% end %>
</div>
